<!--discount-offer start-->
<section class="discount-offer">
    <div class="container">
        <style>
            .hovertable:hover{
				color:DarkOliveGreen;
        </style>
        <div class="row text-center" style="color:white;">
            <div class="col-sm-6">
                <h2 style="color:white;">
                    Outstation Tariff
                </h2>
                <table class="table table-hover	table-bordered ">
                    <thead class="table hovertable">
                        <caption>

                        </caption>
                        <tr class="table-primary hovertable">
                            <th>Vechile Type</th>
                            <th>One Way / KM</th>
                            <th>Round Trip / KM</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr class="table-primary hovertable" >
                            <td scope="row">Sedan</td>
                            <td>Rs.13/-</td>
                            <td>Rs.11/-</td>
                        </tr>
                        <tr class="table-primary hovertable" >
                            <td scope="row">Etios</td>
                            <td>Rs.14/-</td>
                            <td>Rs.11/-</td>
                        </tr>
                        <tr class="table-primary hovertable" >
                            <td scope="row">Suv</td>
                            <td>Rs.18/-</td>
                            <td>Rs.15/-</td>
                        </tr>
                        <tr class="table-primary hovertable">
                            <td scope="row">Innova</td>
                            <td>Rs.19/-</td>
                            <td>Rs.16/-</td>
                        </tr>
                    </tbody>
                    <tfoot>
                            
                    </tfoot>
                </table>
            </div><!-- /.col-->
            <div class="col-sm-6">
                <h2 style="color:white;">
                    Hourly Package Only for Bangalore
                </h2>
                   

                <table class="table table-hover	table-bordered ">
                    <thead class="table">
                        <caption>

                        </caption>
                        <tr class="table-primary hovertable">
                            <th>Package Type</th>
                            <th>SEDAN</th>
                            <th>SUV</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider ">
                        <tr class="table-primary hovertable" >
                            <td scope="row">4 Hrs 40KM</td>
                            <td>Rs.1100/-</td>
                            <td>Rs.1500/-</td>
                        </tr>
                        <tr class="table-primary hovertable" >
                            <td scope="row">8 Hrs 80KM</td>
                            <td>Rs.2200/-</td>
                            <td>Rs.3000/-</td>
                        </tr>
                        <tr class="table-primary hovertable" >
                            <td scope="row">10 Hrs 100KM</td>
                            <td>Rs.2800/-</td>
                            <td>Rs.3800/-</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        
                    </tfoot>
                </table>
            </div><!-- /.col-->
        </div><!-- /.row-->
        <h4 style="color:white;">
            You can book a cab with ease on our website, or call us on <a href="tel:+916361542457" style=" color: #00FFFF; font-size : 20px; font-weight: bold;"> +91 6361542457</a> if you'd like to discuss your itinerary with our executives in detail.
        </h4>
    </div><!-- /.container-->

</section><!-- /.discount-offer-->
<!--discount-offer end-->


<!--packages start-->
<section id="pack" class="packages">
    <div class="container">
        <div class="packages-content">

            
            <div class="row">

                <div class="col d-inline p-2 bg-info text-dark">
                    <br>
                    <h4 class="col text-center d-inline p-2 bg-info text-dark">Rates Given Above</h4>
                    <br>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Toll fees,Inter-State Permit charges (if any) are extra.</li>
                        <li class="list-group-item"> Drop Trips-Minimum running must be 130kms per day.</li>
                        <li class="list-group-item"> Round Trips-Minimum running must be 250kms per day.For Bengaluru it is minimum 300kms per day.</li>
                        <li class="list-group-item">Hill station charges - Rs.300</li>
                        <li class="list-group-item">1 day means 1 calender day (from midnight 12 to Next Midnight 12)</li>
                        <li class="list-group-item"> Waiting charge : Sedan Rs. 120 Suv Rs. 150</li>
                    </ul>
                </div>
        
            </div><!--/.row-->
        </div><!--/.packages-content-->
    </div><!--/.container-->
</section><!--/.packages-->
<!--packages end-->





<!--packages start-->
<section id="pack" class="packages">

    <div class="container">
        




        <div class="packages-content">
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="{{ url_for('static', filename = 'assets/images/packages/p1.jpg') }}" alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>italy <span class="pull-right">$499</span></h3>
                            <div class="packages-para">
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i> 5 daays 6 nights
                                    </span>
                                    <i class="fa fa-angle-right"></i>  5 star accomodation
                                </p>
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i>  transportation
                                    </span>
                                    <i class="fa fa-angle-right"></i>  food facilities
                                 </p>
                            </div><!--/.packages-para-->
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>2544 review</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button  class="about-view packages-btn">
                                    book now
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="{{ url_for('static', filename = 'assets/images/packages/p2.jpg') }}" alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>england <span class="pull-right">$1499</span></h3>
                            <div class="packages-para">
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i> 5 daays 6 nights
                                    </span>
                                    <i class="fa fa-angle-right"></i>  5 star accomodation
                                </p>
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i>  transportation
                                    </span>
                                    <i class="fa fa-angle-right"></i>  food facilities
                                 </p>
                            </div><!--/.packages-para-->
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>2544 review</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button  class="about-view packages-btn">
                                    book now
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->            
                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="{{ url_for('static', filename = 'assets/images/packages/p6.jpg') }}" alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>thailand <span class="pull-right">$799</span></h3>
                            <div class="packages-para">
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i> 5 daays 6 nights
                                    </span>
                                    <i class="fa fa-angle-right"></i>  5 star accomodation
                                </p>
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i>  transportation
                                    </span>
                                    <i class="fa fa-angle-right"></i>  food facilities
                                 </p>
                            </div><!--/.packages-para-->
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>2544 review</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">
                                <button  class="about-view packages-btn">
                                    book now
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

            </div><!--/.row-->
        </div><!--/.packages-content-->
    </div><!--/.container-->

</section><!--/.packages-->
<!--packages end-->
