<!--galley start-->
<section id="gallery" class="gallery">
    <div class="container">
        <div class="gallery-details">
            <div class="gallary-header text-center">
                <h2>
                    top destination
                </h2>
                
            </div><!--/.gallery-header-->
            <div class="gallery-box">

                 <!--.col-->
                 <div class="col text-center d-inline p-2 bg-info text-dark">
                    <br>
                    <h3>BANGALORE </h3>
                    <br>
                </div><!--/.col-->
                <div class="gallery-content">
                      <div class="filtr-container">
                          <div class="row">

                           

                              

                              <div class="col-md-4">
                                  <div class="filtr-item">
                                    <img src="{{ url_for('static', filename = 'assets/images/gallary/g3b.jpg') }}" alt="portfolio image"/>
                                    
                                    <div class="item-title">
                                        <a href="#">
                                            Vidhanasoudha
                                        </a>
                                        <p><span>25 tours</span><span>10 places</span></p>
                                    </div><!-- /.item-title -->
                                </div><!-- /.filtr-item -->
                              </div><!-- /.col -->

                              <div class="col-md-4">
                                  <div class="filtr-item">
                                    <img src="{{ url_for('static', filename = 'assets/images/gallary/g4b.jpeg') }}" alt="portfolio image"/>
                                    <div class="item-title">
                                        <a href="#">
                                            Mysore
                                        </a>
                                        <p><span>18 tours</span><span>9 places</span></p>
                                    </div> <!-- /.item-title-->
                                </div><!-- /.filtr-item -->
                              </div><!-- /.col -->

                              <div class="col-md-4">
                                  <div class="filtr-item">
                                    <img src="{{ url_for('static', filename = 'assets/images/gallary/g5b.jpg') }}" alt="portfolio image"/>
                                    <div class="item-title">
                                        <a href="#">
                                            Lalbagh
                                        </a>
                                        <p><span>14 tours</span><span>12 places</span></p>
                                    </div> <!-- /.item-title-->
                                </div><!-- /.filtr-item -->
                              </div><!-- /.col -->

                              <div class="col-md-8">
                                  <div class="filtr-item">
                                    <img src="{{ url_for('static', filename = 'assets/images/gallary/g6b.jpg') }}" alt="portfolio image"/>
                                    <div class="item-title">
                                        <a href="#">
                                            Bengauru Palace
                                        </a>
                                        <p><span>14 tours</span><span>6 places</span></p>
                                    </div> <!-- /.item-title-->
                                </div><!-- /.filtr-item -->
                              </div><!-- /.col -->

                          </div><!-- /.row -->

                      </div><!-- /.filtr-container-->
                </div><!-- /.gallery-content -->




                <!--.col-->
                <div class="col text-center d-inline p-2 bg-info text-dark">
                    <br>
                    <h3>TAMILNADU </h3>
                    <br>
                </div><!--/.col-->


                <div class="gallery-content">
                    <div class="filtr-container">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="filtr-item">
                                  <img src="{{ url_for('static', filename = 'assets/images/gallary/g1.jpg') }}" alt="portfolio image"/>
                                  <div class="item-title">
                                      <a href="#">
                                          Pondichery
                                      </a>
                                      <p><span>20 tours</span><span>15 places</span></p>
                                  </div><!-- /.item-title -->
                              </div><!-- /.filtr-item -->
                            </div><!-- /.col -->

                            <div class="col-md-6">
                                <div class="filtr-item">
                                  <img src="{{ url_for('static', filename = 'assets/images/gallary/g2.jpg') }}" alt="portfolio image"/>
                                  <div class="item-title">
                                      <a href="#">
                                          Chennai
                                      </a>
                                      <p><span>12 tours</span><span>9 places</span></p>
                                  </div> <!-- /.item-title-->
                              </div><!-- /.filtr-item -->
                            </div><!-- /.col -->

                            <div class="col-md-4">
                                <div class="filtr-item">
                                  <img src="{{ url_for('static', filename = 'assets/images/gallary/g3.jpg') }}" alt="portfolio image"/>
                                  
                                  <div class="item-title">
                                      <a href="#">
                                          Vellore
                                      </a>
                                      <p><span>25 tours</span><span>10 places</span></p>
                                  </div><!-- /.item-title -->
                              </div><!-- /.filtr-item -->
                            </div><!-- /.col -->

                            <div class="col-md-4">
                                <div class="filtr-item">
                                  <img src="{{ url_for('static', filename = 'assets/images/gallary/g4.jpg') }}" alt="portfolio image"/>
                                  <div class="item-title">
                                      <a href="#">
                                          Coimbature
                                      </a>
                                      <p><span>18 tours</span><span>9 places</span></p>
                                  </div> <!-- /.item-title-->
                              </div><!-- /.filtr-item -->
                            </div><!-- /.col -->

                            <div class="col-md-4">
                                <div class="filtr-item">
                                  <img src="{{ url_for('static', filename = 'assets/images/gallary/g5.jpg') }}" alt="portfolio image"/>
                                  <div class="item-title">
                                      <a href="#">
                                          Thirunelveli
                                      </a>
                                      <p><span>14 tours</span><span>12 places</span></p>
                                  </div> <!-- /.item-title-->
                              </div><!-- /.filtr-item -->
                            </div><!-- /.col -->

                            <div class="col-md-8">
                                <div class="filtr-item">
                                  <img src="{{ url_for('static', filename = 'assets/images/gallary/g6.jpg') }}" alt="portfolio image"/>
                                  <div class="item-title">
                                      <a href="#">
                                          Madurai
                                      </a>
                                      <p><span>14 tours</span><span>6 places</span></p>
                                  </div> <!-- /.item-title-->
                              </div><!-- /.filtr-item -->
                            </div><!-- /.col -->

                        </div><!-- /.row -->

                    </div><!-- /.filtr-container-->
              </div><!-- /.gallery-content -->




            </div><!--/.galley-box-->
        </div><!--/.gallery-details-->
    </div><!--/.container-->

</section><!--/.gallery-->
<!--gallery end-->